{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change</title>
</head>
<body>
<center>
    <table>
        <form method="post">
              {% csrf_token %}
            <tr>
                <td>Username :</td>
                <td> <input type="text" name="username" value={{ d.user_name }}></td>
            </tr>
            <tr>
                <td>Mail id:</td>
                <td> <input type="text" name="mail" value={{ d.mail_id }}></td>
            </tr>
            <tr>
                <td>job title :</td>
                <td> <input type="text" name="phone" value={{ d.job_title }}></td>
            </tr>

             <tr>
                <td>job discription :</td>
                <td> <input type="text" name="job discription" value={{ d.job_description }}></td>
            </tr>


            <tr>
                <td>Enter New Password :</td>
                <td> <input type="text" name="password"></td>

            </tr>
            <tr>
                <td> <input type="submit" value="Change Password"></td>
            </tr>
        </form>
    </table>

</center>
</body>
</html>