<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>go to app page</title>
    <style>
     body{
         margin-top: 20%;
     }
.btn{
    height: 50px;
    width: calc(50%-6px);
    border: 0;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    transition: .3s linear;
    cursor: pointer;

}
.red-btn{
    background-color: #d13639;

}
.gray-btn{
    background-color:#282828 ;

}
.btn:hover{
    opacity: .6;
}
a{
    text-decoration: none;
}
    </style>
</head>
<body>

 <div class="button">
     <center><h1>Do you want to login<a class="btn red-btn" href="log">click heare</a></h1></center>
     <center><h1>Do yo want to continew without login<a class="btn red-btn" href="home">click heare</a></h1></center>
     <center><h1>new registation<a class="btn gray-btn" href="add_details">click heare</a></h1></center>
    </div>
</body>
</html>