<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SELECT JOB</title>
</head>
<body>
 <div class="tittle">
        <center><h1>WELCOME TO CAREER MAP</h1></center>
        <center>
            <label for="job roll" > JOB ROLL</label>
            <select id="job roll">
                <option value="job roll">select</option>
                <option value="Mechanical ">Mechanical</option>
                <option value="Electrical">Electrical</option>
                <option value="AI">AI</option>

            </select>
            <input type="submit" value="search">
        </center>

    </div>
</body>
</html>